* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

span {
    color: #5669FF;
}

a {
    color: black;
}

.viewport {
    width: auto;
    height: 100vh;
    background-color: aliceblue;
}

.navbar {
    width: auto;
    height: 95px;
    margin: 0px 5% 0px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-logo {
    width: 101px;
    height: 62px;
    margin-right: 80px;
}

.nav-logo img {
    width: auto;
    height: 100%;
}

.nav-list ul{
    width: auto;
    height: 62px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li a {
    text-decoration: none;
    margin-right: 60px;
}

.logonlist {
    display: flex;
    
}

.nav-button  button{
    width: 140px;
    height: 50px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #5669FF;
    margin-left: 10px;

}

.main-body {
    width: auto;
    height: auto;
    border: 1px solid black;
    margin: 0px 5% 0px 5%;
}

.hero-section {
    width: auto;
    height: 850px;
    border: 1px solid black;
    overflow: hidden;
    display: flex;

}

.hero-text {
    width: 40%;
    height: auto;
    border: 1px solid black;
    margin-top:auto;
    margin-bottom:auto;
    display:block;

}

.hero-text h1 {
    font-size: 40px;
}

.inputnicon input{
    width: 305px;
    height: 56px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

input::placeholder {
    padding-left: 15px;
    font-size: 16px;
}

.inputnicon {
    display: flex;
    margin-left: 10px;
}

.hero-picon {
    width: 100px;
    height: 56px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
}

.hero-picon button {
    width: 65px;
    height: 38px;
    border-radius: 10px;
    background-color: #5669FF;
    color: #ffffff;
}

.hero-pic {
    width: 60%;
    height: auto;
    background-color: antiquewhite;
    border: 1px solid black;
    display: flex;
}

.hpic-1 {
    width: 50%;
    height: auto;
    border: 1px solid black;
}

.hpic-2 {
    width: 50%;
    height: auto;
    border: 1px solid black;
    margin-left: -135px;
}
